
# MacOS's specific files.
**/.DS_Store

# .Net project's specific files.
**/bin
**/obj
**/*.usr

# appsettings.*.json files.
**/appsettings.*.json


# IDE's specific files.
**/.vs
**/.vscode
**/.idea
